.influencer-list {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: url('./bgimage.jpg') no-repeat center center; /* Add background image */
  background-size: cover; /* Ensure the image covers the entire container */
  color: black;
  animation: moveBackground 5s linear infinite; 
}

/* moving background */
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.search-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  
}
.search-input {
  padding: 10px;
  width: 45%; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 0 auto;
}
.influencer-list h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black; 
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.influencers {
  list-style: none;
  padding: 0;
  width: 47%;
  margin: 0 auto;
}

.influencer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8); 
}

.influencer-details h3 {
  margin: 0;
  font-size: 18px;
}

.social-accounts {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  font-size: 14px;
}

.social-accounts li {
  margin-bottom: 3px;
}